/*Reset styles*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

/*Reset styles*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }

html {
  font: 16px "Trebuchet MS"; }

header, section {
  position: relative; }

input {
  outline: none; }

#bootstrap-overrides button {
  outline: none;
  cursor: pointer; }

#header {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 30px;
  background-image: url("../img/header-bg.jpg"); }
  #header::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.4); }
  #header img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }

.intro {
  text-align: center; }
  .intro h1 {
    margin-bottom: 15px;
    color: #26272d;
    font-family: "Varela Round", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 35px; }
    @media screen and (min-width: 992px) {
      .intro h1 {
        margin-top: 130px;
        margin-bottom: 40px;
        line-height: 72px;
        font-size: 62px; } }
  .intro .main-text-style {
    max-width: 780px;
    margin: 0 auto 35px;
    line-height: 22px; }
    @media screen and (min-width: 992px) {
      .intro .main-text-style {
        margin-bottom: 60px;
        line-height: 28px; } }
  .intro .btn-video {
    margin-bottom: 45px; }

#features {
  padding: 30px 0;
  border-bottom: 1px solid rgba(38, 39, 45, 0.05);
  -webkit-border-radius: 1px;
          border-radius: 1px; }
  @media screen and (min-width: 992px) {
    #features {
      padding: 120px 0; } }

.feature {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .feature {
      padding: 0 50px; } }
  @media screen and (min-width: 1140px) {
    .feature {
      text-align: left; } }
  .feature img {
    margin-bottom: 15px; }
    @media screen and (min-width: 992px) {
      .feature img {
        margin-bottom: 45px; } }
  .feature h2 {
    margin-bottom: 15px;
    color: #26272d;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 34px; }
    @media screen and (min-width: 992px) {
      .feature h2 {
        margin-bottom: 45px; } }

#iphone-feature {
  padding: 30px 0;
  text-align: center; }
  @media screen and (min-width: 992px) {
    #iphone-feature {
      padding-top: 220px;
      text-align: left; } }
  #iphone-feature > img {
    position: absolute;
    max-width: 60%;
    left: -80px;
    top: 20%;
    display: none; }
    @media screen and (min-width: 992px) {
      #iphone-feature > img {
        display: block; } }
    @media screen and (min-width: 1440px) {
      #iphone-feature > img {
        max-width: 100%;
        top: 0; } }
  #iphone-feature .section-title {
    margin-bottom: 15px; }
    @media screen and (min-width: 992px) {
      #iphone-feature .section-title {
        margin-bottom: 75px; } }
  #iphone-feature .main-text-style {
    margin-bottom: 35px; }
    @media screen and (min-width: 992px) {
      #iphone-feature .main-text-style {
        margin-bottom: 75px; } }
  #iphone-feature .btn-2 {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 20px; }
    #iphone-feature .btn-2 i {
      position: relative;
      top: -1px;
      font-size: 12px; }

#map-feature {
  padding: 30px 0;
  text-align: center; }
  @media screen and (min-width: 992px) {
    #map-feature {
      padding: 215px 0 220px;
      text-align: left; } }
  #map-feature > img {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (max-width: 992px) {
      #map-feature > img {
        display: none; } }
    @media screen and (min-width: 1440px) {
      #map-feature > img {
        max-width: 100%; } }
  #map-feature .section-title {
    margin-bottom: 15px; }
    @media screen and (min-width: 992px) {
      #map-feature .section-title {
        margin-bottom: 65px; } }
  #map-feature .main-text-style {
    margin-bottom: 35px; }
    @media screen and (min-width: 992px) {
      #map-feature .main-text-style {
        margin-bottom: 65px; } }
  #map-feature .partners {
    color: #26272d;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 992px) {
      #map-feature .partners {
        text-align: left; } }
    #map-feature .partners h3 {
      margin-bottom: 20px; }
    #map-feature .partners ul li {
      margin-right: 30px; }

#iphone-screens {
  background-color: #f5f5f8;
  padding: 30px 0 60px;
  overflow-x: hidden;
  text-align: center; }
  @media screen and (min-width: 992px) {
    #iphone-screens {
      padding: 145px 0 125px; } }
  #iphone-screens .section-title::after {
    display: block;
    width: 50px;
    height: 2px;
    margin: 45px auto;
    content: "";
    background-color: #267df4;
    -webkit-border-radius: 1px;
            border-radius: 1px; }
  #iphone-screens p {
    margin-bottom: 45px;
    color: #8c8f94;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  #iphone-screens .iphone-screens_list > li {
    width: 210px;
    height: 340px;
    margin: 15px; }
    @media screen and (min-width: 1200px) {
      #iphone-screens .iphone-screens_list > li {
        width: 319px;
        height: 565px; } }
    #iphone-screens .iphone-screens_list > li:not(.middle-img) {
      -webkit-box-shadow: 15px 41px 66px rgba(92, 95, 101, 0.28), 3px 9px 16px rgba(61, 61, 62, 0.15);
              box-shadow: 15px 41px 66px rgba(92, 95, 101, 0.28), 3px 9px 16px rgba(61, 61, 62, 0.15); }
    #iphone-screens .iphone-screens_list > li img {
      width: inherit;
      height: inherit; }
  #iphone-screens .iphone-screens_list .middle-img {
    position: relative;
    max-width: 210px;
    max-height: 340px; }
    @media screen and (min-width: 1200px) {
      #iphone-screens .iphone-screens_list .middle-img {
        min-width: 369px;
        min-height: 753px; } }
    #iphone-screens .iphone-screens_list .middle-img::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -5;
      display: block;
      width: 90%;
      height: 90%;
      content: "";
      -webkit-box-shadow: 15px 61px 76px rgba(92, 95, 101, 0.28), 3px 9px 26px rgba(61, 61, 62, 0.15);
              box-shadow: 15px 61px 76px rgba(92, 95, 101, 0.28), 3px 9px 26px rgba(61, 61, 62, 0.15);
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #iphone-screens .iphone-screens_list .middle-img img {
      width: 100%;
      height: 100%; }

#buy {
  background-color: #f5f5f8;
  padding: 30px 0;
  text-align: center; }
  @media screen and (min-width: 992px) {
    #buy {
      padding: 75px 0 130px; } }
  #buy .logo-text {
    margin-bottom: 37px;
    color: #3a3d4b;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: .5; }
    #buy .logo-text span {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 1.2px; }
  #buy .section-title {
    margin-bottom: 47px; }
  #buy form {
    margin-bottom: 65px; }
    #buy form .email-field_with-btn {
      position: relative; }
      @media screen and (max-width: 767px) {
        #buy form .email-field_with-btn {
          width: 100%; } }
      #buy form .email-field_with-btn input {
        width: 100%;
        height: 50px;
        padding: 0 25px;
        color: #3a3d4b;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid rgba(34, 35, 40, 0.2);
        -webkit-border-radius: 25px;
                border-radius: 25px; }
        @media screen and (min-width: 767px) {
          #buy form .email-field_with-btn input {
            width: 502px;
            padding-right: 170px; } }
      #buy form .email-field_with-btn .form-btn {
        padding-right: 25px;
        padding-left: 25px;
        margin: 10px auto 0; }
        @media screen and (min-width: 767px) {
          #buy form .email-field_with-btn .form-btn {
            position: absolute;
            right: 4px;
            margin: 0 auto; } }
        #buy form .email-field_with-btn .form-btn i {
          position: relative;
          top: -1px;
          font-size: 12px; }
  #buy .download {
    color: #fff; }
    #buy .download > p {
      margin-bottom: 22px;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      opacity: .3; }
    #buy .download a {
      max-width: 210px;
      padding: 5px 0;
      margin: 0 auto;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      line-height: 22px;
      background-color: #131315;
      -webkit-border-radius: 30px;
              border-radius: 30px; }
      #buy .download a i {
        position: relative;
        left: -15px;
        font-size: 25px; }
      #buy .download a span {
        font-size: 23px; }

#customers {
  padding: 30px 0 60px; }
  @media screen and (min-width: 992px) {
    #customers {
      padding: 132px 0 128px; } }
  #customers .container {
    height: 600px;
    overflow: hidden; }
  #customers .avatar {
    position: relative;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-filter: opacity(20%);
            filter: opacity(20%); }
  #customers .comment {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 200px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media screen and (min-width: 768px) {
      #customers .comment {
        width: 560px; } }
    #customers .comment h3 {
      margin-bottom: 48px;
      color: #26272d;
      font-family: "Lato", sans-serif;
      font-size: 32px;
      font-weight: 300;
      line-height: 38px; }
    #customers .comment p {
      margin-bottom: 30px;
      color: #8c8f94;
      font-family: "Lato", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px; }
    #customers .comment .rating {
      display: block;
      margin: 0 auto 68px; }
    #customers .comment .name {
      color: #26272d;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 1.2px;
      text-transform: uppercase; }

#plan {
  padding: 30px 0 60px;
  background-color: #f4f4f5; }
  @media screen and (min-width: 992px) {
    #plan {
      padding: 206px 0 243px; } }
  #plan .block-1 {
    text-align: center; }
    @media screen and (min-width: 1200px) {
      #plan .block-1 {
        text-align: left; } }
  #plan .section-title {
    margin-bottom: 67px; }
  #plan .you {
    color: #26272d;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  #plan .plans {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border: 1px solid #d8d8da;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    margin-bottom: 77px;
    margin-top: 24px; }
    @media screen and (max-width: 1200px) {
      #plan .plans {
        margin-left: auto;
        margin-right: auto; } }
    #plan .plans .plan-type {
      position: relative;
      width: 124px;
      padding: .8em 10px;
      color: #8c8f94;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 700;
      -webkit-border-radius: 21px;
              border-radius: 21px;
      cursor: pointer; }
  #plan .description {
    display: none;
    color: #8c8f94;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 44px; }
  #plan .talk {
    color: #8c8f94;
    color: #26292c;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
    #plan .talk a {
      color: #267df4;
      text-decoration: underline; }
    @media screen and (max-width: 1200px) {
      #plan .talk {
        margin-bottom: 40px; } }
  #plan .card-item {
    width: 100%;
    padding: 32px 0 40px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ebebed;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer; }
    #plan .card-item:hover .card-button {
      width: 212px;
      color: #fff;
      background-color: #267df4; }
    @media screen and (min-width: 768px) {
      #plan .card-item {
        width: 340px; } }
    @media screen and (min-width: 992px) {
      #plan .card-item {
        padding: 62px 0 70px; } }
    #plan .card-item .card-button {
      margin: auto auto 0; }
    #plan .card-item h2 {
      margin-bottom: 29px;
      color: #26272d;
      font-family: Lato;
      font-size: 32px;
      font-weight: 300;
      line-height: 38px; }
    #plan .card-item .price {
      margin-bottom: 56px;
      color: #26272d;
      font-family: Lato;
      font-size: 11px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 1.1px;
      text-transform: uppercase; }
    #plan .card-item h3 {
      margin-bottom: 47px;
      color: #8c8f94;
      font-family: Lato;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px; }
    #plan .card-item .features > li {
      margin-bottom: 27px;
      color: #26292c;
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px; }
      #plan .card-item .features > li i {
        margin-right: 10px; }

#subscribe {
  padding: 30px 0 60px;
  text-align: center; }
  @media screen and (min-width: 992px) {
    #subscribe {
      padding: 89px 0 86px; } }
  #subscribe .section-title {
    margin-bottom: 50px; }
  #subscribe form {
    margin-bottom: 28px; }
    #subscribe form .email-field_with-btn {
      position: relative; }
      @media screen and (max-width: 767px) {
        #subscribe form .email-field_with-btn {
          width: 100%; } }
      #subscribe form .email-field_with-btn input {
        width: 100%;
        height: 50px;
        padding: 0 25px;
        color: #3a3d4b;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid rgba(34, 35, 40, 0.2);
        -webkit-border-radius: 25px;
                border-radius: 25px; }
        @media screen and (min-width: 767px) {
          #subscribe form .email-field_with-btn input {
            width: 502px;
            padding-right: 170px; } }
        #subscribe form .email-field_with-btn input::-webkit-input-placeholder {
          color: #67696b; }
        #subscribe form .email-field_with-btn input::-moz-placeholder {
          color: #67696b; }
        #subscribe form .email-field_with-btn input:-ms-input-placeholder {
          color: #67696b; }
        #subscribe form .email-field_with-btn input::-ms-input-placeholder {
          color: #67696b; }
        #subscribe form .email-field_with-btn input::placeholder {
          color: #67696b; }
      #subscribe form .email-field_with-btn .form-btn {
        padding-right: 25px;
        padding-left: 25px;
        margin: 10px auto 0; }
        @media screen and (min-width: 767px) {
          #subscribe form .email-field_with-btn .form-btn {
            position: absolute;
            right: 4px;
            margin: 0 auto; } }
        #subscribe form .email-field_with-btn .form-btn i {
          position: relative;
          top: -1px;
          font-size: 12px; }
  #subscribe .spam {
    color: #8c8f94;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400; }

#footer {
  text-align: center; }
  @media screen and (min-width: 992px) {
    #footer {
      text-align: left; } }
  #footer .row:first-child {
    border-bottom: 1px solid rgba(38, 41, 44, 0.05);
    -webkit-border-radius: 1px;
            border-radius: 1px; }
  #footer .row:last-child {
    padding: 10px 0; }
    @media screen and (min-width: 992px) {
      #footer .row:last-child {
        padding: 35px 0; } }
  #footer .logo {
    margin-bottom: 34px; }
  #footer .text {
    margin-top: 34px;
    margin-bottom: 32px;
    color: #8c8f94;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
  #footer .download {
    margin-bottom: 40px;
    color: #fff; }
    #footer .download p {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.2px;
      text-transform: uppercase; }
    #footer .download a {
      max-width: 210px;
      padding: 5px 0;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      line-height: 22px;
      background-color: #131315;
      -webkit-border-radius: 8px;
              border-radius: 8px; }
      @media screen and (max-width: 992px) {
        #footer .download a {
          margin: 0 auto; } }
      #footer .download a i {
        position: relative;
        left: -15px;
        font-size: 25px; }
      #footer .download a span {
        font-size: 23px; }
  #footer .socials {
    margin-bottom: 30px; }
    #footer .socials li {
      color: #bebec0; }
  #footer .learn, #footer .about, #footer .support {
    margin: 10px; }
    #footer .learn .list-title, #footer .about .list-title, #footer .support .list-title {
      margin-bottom: 26px;
      color: #26272d;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 1.2px;
      text-transform: uppercase; }
    #footer .learn li, #footer .about li, #footer .support li {
      color: #8c8f94;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 36px; }
  #footer .visit {
    color: #8c8f94;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
    #footer .visit a {
      color: #3b55e6;
      text-decoration: underline; }
  #footer .mockup_author {
    margin-top: 10px;
    color: #26272d;
    font-family: "Lato", sans-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: .9px;
    text-transform: uppercase; }
    #footer .mockup_author i {
      margin-left: 5px;
      font-size: 30px; }

.btn-1, .btn-video, .btn-2, .form-btn, .card-button {
  width: 142px;
  padding: .8em 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(38, 39, 45, 0.1);
  -webkit-border-radius: 21px;
          border-radius: 21px; }

.btn-video {
  width: 205px;
  color: #26272d; }
  .btn-video i {
    position: relative;
    right: 10px;
    font-size: 10px; }

.btn-2 {
  width: 202px;
  color: #fff;
  background-color: #267df4;
  border: none; }

.form-btn {
  width: 164px;
  color: #fff;
  background-color: #6fc754;
  border: none; }

.card-button {
  color: #267df4;
  background: none;
  width: 202px;
  border: 1px solid #267df4; }

.top-nav_menu li {
  margin-right: 40px;
  color: #26272d;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer; }
  .top-nav_menu li:hover {
    color: rgba(27, 28, 30, 0.4); }
  .top-nav_menu li:last-child {
    margin-right: 0; }

.top-nav_menu.item-1 {
  margin-bottom: 35px; }
  @media screen and (min-width: 1024px) {
    .top-nav_menu.item-1 {
      margin-bottom: 0; } }

.top-nav_menu.item-2 {
  margin-bottom: 40px; }
  @media screen and (min-width: 1024px) {
    .top-nav_menu.item-2 {
      margin-bottom: 0; } }
  .top-nav_menu.item-2 li:last-child {
    min-width: 132px;
    padding: .8em 0;
    color: #fff;
    text-align: center;
    background-color: #267df4;
    -webkit-border-radius: 21px;
            border-radius: 21px; }
    .top-nav_menu.item-2 li:last-child:hover {
      color: #fff; }
    .top-nav_menu.item-2 li:last-child i {
      position: relative;
      right: 10px; }

.top-nav_menu #menu-item {
  position: relative;
  right: -10px; }
  @media screen and (min-width: 375px) {
    .top-nav_menu #menu-item {
      right: 0; } }

.logo {
  margin-bottom: 35px; }
  @media screen and (min-width: 1024px) {
    .logo {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0; } }

.section-title {
  color: #26272d;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52px; }
  @media screen and (min-width: 992px) {
    .section-title {
      font-size: 42px; } }

.main-text-style {
  color: #8c8f94;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; }

.swiper-container {
  width: 100%;
  margin: 20px auto;
  overflow: initial; }

.swiper-slide {
  position: relative;
  font-size: 18px;
  text-align: center;
  background: #fff; }

.append-buttons {
  margin-top: 20px;
  text-align: center; }

.append-buttons a {
  display: inline-block;
  padding: 4px 10px;
  margin: 0 10px;
  color: #007aff;
  font-size: 13px;
  text-decoration: none;
  border: 1px solid #007aff;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.swiper-button-prev, .swiper-button-next {
  outline: none; }

body {
  width: 100%;
  height: 100%; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: none;
  width: 256px;
  min-height: 100vh;
  overflow-y: hidden;
  -webkit-box-shadow: -1px -1px 5px inset #505050;
          box-shadow: -1px -1px 5px inset #505050;
  -webkit-overflow-scrolling: touch; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  /* A background-color is required */
  min-height: 100vh;
  background-color: #fff;
  will-change: transform; }

.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

#slide-menu h2 {
  padding: 15px 0;
  font-family: "Varela Round",sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

#slide-menu > li {
  position: relative;
  padding: 20px 30px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  font-weight: 700; }
  #slide-menu > li:hover {
    color: #fff;
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms; }
  #slide-menu > li::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 0;
    height: 100%;
    content: "";
    background-color: #26272d;
    -webkit-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms; }
  #slide-menu > li:hover::before {
    width: 100%; }

.is-shown {
  display: block !important; }

.is-hidden {
  display: none !important; }

.is-picked {
  -webkit-filter: opacity(100%) !important;
          filter: opacity(100%) !important;
  -webkit-transform: scale(1.3) !important;
      -ms-transform: scale(1.3) !important;
          transform: scale(1.3) !important; }

.is-active-plan {
  -webkit-box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.28), 2px 5px 20px rgba(61, 61, 62, 0.15) !important;
          box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.28), 2px 5px 20px rgba(61, 61, 62, 0.15) !important;
  background-color: #fff !important;
  color: #26292c !important; }

.is-active-card {
  -webkit-box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.2) !important;
          box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.2) !important;
  background-color: #fff !important; }
  @media screen and (min-width: 767px) {
    .is-active-card {
      -webkit-transform: scale(1.1) !important;
          -ms-transform: scale(1.1) !important;
              transform: scale(1.1) !important; } }
